[google]
username: oskibear@berkeley.edu
password: generate a bApps Google key: https://kb.berkeley.edu/campus-shared-services/page.php?id=27226

[docid]
top100: 0Aj1QXjQixf-SdGZxV0ctMkwwZmxtM2k0NWd3bk9BQWc
subset: 0Aj1QXjQixf-SdDFVT1NsNlVlaXhTNmM2QUYxZUJWM3c
